.home-container {
    display: flex;
}

.beers-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beer-figure {
    width: 100px;
    height: 200px;
    margin: 10px auto; 
}

.beer-image {
    width: 100%;
    height: 100%;
}

.descricao {
    font-size: 0.8rem;
}

.botao-home:hover {
    cursor: pointer;
}

.botao-home:active {
    background-color: #6C3483;
}

.beer-container {
    background-color: #FFFFFF;
    width: 20vw;
    height: 50vh;
    margin: 10px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}