.cabecalho div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px 17px;
}

.cabecalho ul {
    display: flex;
    list-style-type: none;
}

.cabecalho li {
    margin-left: 30px;
}

.link {
    color: #000;
    text-decoration: none;
}